{% extends 'base.html' %}
{% block body %}
<div class="container d-flex justify-content-center" style="margin-top: 100px;">
	<div class="card" style="
		width: 600px;
		height: 600px;
		border-radius: 12px;
		padding: 30px 20px;
		background: white;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		border: none;
		text-align: center;">
		<h2 class="text-center text-orange fw-bold" style="color: #FF9800;">WorkExpress</h2>
		<form enctype="multipart/form-data" method="POST" class="d-flex flex-column justify-content-center h-100">
			{% csrf_token %}
			<h3 class="text-center mb-3">Redefinir senha</h3>
			{% for field in form %}
			<div class="mb-3">
				<div class="input-group">
					{{ field.label }}
					{{ field }}
				</div>
				{% if field.errors %}
				<div class="alert alert-danger">
					{{ field.errors }}
				</div>
				{% endif %}
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-warning">Alterar</button>
		</form>
{% endblock %}