<li class="nav-item">
	<a class=" nav-menu-link" href="{% url 'home' %}" style="color: black;">
		<i class="fa-solid fa-house me-1"></i> Início
	</a>
</li>
<li class="nav-item">
	<a class=" nav-menu-link" href="{% url 'ticketUsuario' %}" style="color: black;">
		<i class="fa-solid fa-list-ul me-1"></i> Meus chamados
	</a>
</li>
<li class="nav-item">
	<a class=" nav-menu-link" href="{% url 'ticket' %}" style="color: black;">
		<i class="fa-solid fa-list-ul me-1"></i> Solicitar serviço
	</a>
</li>
<li class="nav-item">
	<a class="nav-menu-link" href="#" style="color: black;">
		<i class="fa-regular fa-circle-user me-1"></i> Meu perfil
	</a>
</li>
