<li class="nav-item">
	<a class=" nav-menu-link" href="{% url 'home' %}" style="color: black;">
		<i class="fa-solid fa-house me-1"></i> Início
	</a>
</li>
<li class="nav-item">
	<a class="nav-menu-link" href="{% url 'ticket-prestador' %}" style="color: black;">
		<i class="fa-solid fa-magnifying-glass"></i>
		Buscar serviços
	</a>
</li>
<li class="nav-item">
	<a class="nav-menu-link" href="{% url 'gerenciar-tickets-prestador' %}" style="color: black;">
		<i class="fa-solid fa-briefcase"></i>
		Aba prestador
	</a>
</li>
