{% load static %}
<section class="container my-5">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-4 mb-4">
            <div class="service-card">
                <h3><i class="fa-solid fa-list-check"></i> Minhas solicitações</h3>
                <p>Veja o status dos seus pedidos de orçamento e acompanhe respostas dos profissionais</p>
                <a href="{% url 'gerenciar-tickets-cliente' %}" class="btn">Acompanhar &rsaquo;</a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="service-card">
                <h3><i class="fa-solid fa-star-half-stroke"></i> Minhas avaliações</h3>
                <p>Ajude outros clientes compartilhando sua experiência com os profissionais que te atenderam.</p>
                <a href="{% url 'minhas-avaliacoes' %}" class="btn">Acessar &rsaquo;</a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="service-card">
                <h3><i class="fa-solid fa-pen-to-square"></i> Novo pedido</h3>
                <p>Precisa de ajuda? Solicite um novo serviço em poucos passos e receba propostas rapidamente.</p>
                <a href="{% url 'ticket' %}" class="btn">Solicitar serviço &rsaquo;</a>
            </div>
        </div>
    </div>
</section>
<section class="container text-center my-5">
    <br>
    <br>
    <h2>Principais serviços pedidos</h2>
    <br>
    <h5> Os serviços mais utilizados de cada categoria </h5>
    <div class="container mt-4">
        <div id="carouselServices" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/2.jpg' %}" class="img-fluid rounded">
                                <h5>Montagem de móveis</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/3.jpg' %}" class="img-fluid rounded">
                                <h5>Mudanças e Carretos</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/4.jpg' %}" class="img-fluid rounded">
                                <h5>Serviço de Pedreiro</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/5.jpg' %}" class="img-fluid rounded">
                                <h5>Pintura Residencial</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/6.jpg' %}" class="img-fluid rounded">
                                <h5>Encanamento</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/7.jpg' %}" class="img-fluid rounded">
                                <h5>Reformas Gerais</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselServices" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselServices" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
</section>