{% load static %}
{% block options %}

{% if not request.user.is_authenticated %}
<section class="container text-center my-5">
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="service-card">
                <h3><i class="fa-solid fa-pen-ruler"></i> Solicitar orçamento</h3>
                <p>Solicite um orçamento <br> sem complicação sempre que precisar.</p>
                <a href="{% url 'ticket' %}" class="btn">Solicitar &rsaquo;</a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="service-card">
                <h3><i class="fa-solid fa-user-plus"></i> Para você</h3>
                <p>Abra uma conta para <br> solicitar orçamentos sempre que precisar.</p>
                <a href="{% url 'cadastro' %}" class="btn">Cadastrar &rsaquo;</a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="service-card">
                <h3><i class="fa-solid fa-person-digging"></i> Seja um prestador</h3>
                <p>Cadastra-se como prestador <br> para enviar orçamentos e iniciar os serviços</p>
                <a href="{% url 'cadastro' %}" class="btn"  >Cadastrar-se como profissional &rsaquo;</a>
            </div>
        </div>
    </div>
</section>
{% elif request.user.type_user == "C" %}
	{% include 'home-card-cliente.html' %}
{% elif request.user.type_user == "P" %}
	{% include 'home-card-prestador.html' %}
{% endif %}
{% endblock %}
<section class="container text-center my-5">
    <br>
    <br>
    <h2>Principais serviços pedidos</h2>
    <br>
    <h5> Os serviços mais utilizados de cada categoria </h5>
    <div class="container mt-4">
        <div id="carouselServices" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/2.jpg' %}" class="img-fluid rounded">
                                <h5>Montagem de móveis</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/3.jpg' %}" class="img-fluid rounded">
                                <h5>Mudanças e Carretos</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/4.jpg' %}" class="img-fluid rounded">
                                <h5>Serviço de Pedreiro</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/5.jpg' %}" class="img-fluid rounded">
                                <h5>Pintura Residencial</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/6.jpg' %}" class="img-fluid rounded">
                                <h5>Encanamento</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="category-card shadow-sm">
                                <img src="{% static 'images/7.jpg' %}" class="img-fluid rounded">
                                <h5>Reformas Gerais</h5>
                                <a href="#">Solicitar orçamento</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselServices" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselServices" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
</section>