{% extends 'navbar_base.html' %}
{% block options %}

{% if not request.user.is_authenticated %}
<li class="nav-item">
	<a class=" nav-menu-link" href="{% url 'home' %}" style="color: black;">
		<i class="fa-solid fa-house me-1"></i> Início
	</a>
</li>
<li class="nav-item">

	<a class="nav-menu-link" href="{% url 'cadastro' %}" style="color: black;">
			<i class="fa-solid fa-pen-to-square me-1"></i>  Cadastre-se
	</a>
</li>
{% elif request.user.type_user == "C" %}
	{% include 'cliente/navbar_cliente.html' %}
{% elif request.user.type_user == "P" %}
	{% include 'prestador/navbar_prestador.html' %}
{% endif %}
{% endblock %}
